<!DOCTYPE html>
<html>
<head>
  <title>Vs</title>
 <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,300' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <h1>GSM Digital</h1>
  </header>
  
  <div class="buttons">
    <%= render 'layouts/upload_search' %>
  </div>
  
   <div class="update">
   <% if @update %>
     <% @update %>
   <% end %>
  </div>

  <div class="form-container">
    <%= render 'layouts/form_container' %>
  </div>

  <div id="videos">
    <div id="masonry-container" class="center transitions-enabled infinite-scroll clearfix">
        <%= yield %>
    </div>
  </div>

</body>
</html>
